server/app/views/index.jade
doctype
html(ng-app="ticksaWebapp", ng-class="{'is-gecko': $root.isGecko}")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    base(href="/")

    title(translate="APPLICATION_TITLE") Ticksa - My Premium Channel
    meta(name="description", content="")
    each site in data.siteVerification
      meta(name="#{site.name}" content="#{site.value}")

    link(rel="shortcut icon" type="image/png" href="#{data.baseUrl}/assets/images/favicon.png")
    link(rel="stylesheet" href="#{data.baseUrl}/styles/vendor.css")
    link(rel="stylesheet" href="#{data.baseUrl}/styles/app.css")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,600,700")

  body(tk-channel-background)
    script(type="text/javascript", src="#{data.baseUrl}/routing-location/routing-location.js")

    tk-browser-not-supported

    div(ui-view, class="table-fill")
    div(id="fb-root")

    script(id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js", async)
    script(src="https://apis.google.com/js/platform.js", async)
    script(type="text/javascript", src="#{data.baseUrl}/config/config-#{data.mode}.js")
    script(type="text/javascript", src="#{data.baseUrl}/scripts/vendor.js")
    script(type="text/javascript", src="#{data.baseUrl}/scripts/app.js")

webapp/src/index.html
<!doctype html>
<html ng-app="ticksaWebapp" ng-class="{'is-gecko': $root.isGecko}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <title translate="APPLICATION_TITLE">Ticksa - My Premium Channel</title>
    <meta name="description" content="">

    <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,600,700"/>

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
</head>
<body tk-channel-background>

<script type="text/javascript" src="routing-location/routing-location.js"></script>

<tk-browser-not-supported></tk-browser-not-supported>

<div ui-view class="table-fill"></div>
<div id="fb-root"></div>

<script id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js" async></script>
<script src="//apis.google.com/js/platform.js" async></script>

<!-- inject:config -->
<script src="config.js"></script>
<!-- endinject -->

<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-71811502-1', 'auto');
</script>

</body>
</html>
