webapp/src/app/components/content/content.pwyw.dialog/content.pwyw.dialog.jade
md-dialog(flex="20")
  md-toolbar
    div.md-toolbar-tools
      h2 {{'COMMONS_PWYW' | translate}}
      span(flex)
  md-dialog-content
    form(name='feedbackForm', layout-fill, novalidate)
      div(layout='column', layout-padding)
        md-input-container
          label {{ 'COMMONS_ENTER_TICKS' | translate }}
          input(name='enteredTicks', type='number', ng-model='ctrl.enteredTicks', min="1", max="1000",
          required="true", autofocus)
          div(ng-messages='feedbackForm.enteredTicks.$error', ng-if='feedbackForm.enteredTicks.$dirty')
            div(ng-message='required') {{'ERROR_REQUIRED' | translate}}
            div(ng-message='min') {{'ERROR_MIN' | translate}} 1
            div(ng-message='max') {{'ERROR_MAX' | translate}} 1000


    div(layout-margin, layout='row')
            div(flex)
            md-button.md-primary(ng-click='ctrl.cancel()') {{'COMMONS_CANCEL' | translate}}
            md-button.md-raised.md-primary(ng-click='ctrl.pwywContent(feedbackForm)') {{'COMMONS_OK' | translate}}

webapp/src/app/components/content/content.getHtmlCode.dialog/content.getHtmlCode.dialog.html
<md-dialog flex="45">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ 'COMMONS_EMBED_CONTENT' | translate }}</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <form layout-fill="layout-fill">
            <div layout="column" layout-padding="layout-padding">
                <span>{{ 'CONTENT_GET_HTML__DESCRIPTION' | translate }}</span>
                <md-input-container class="no-margin-bottom no-padding-bottom" flex="flex">
                    <label for="html" class="padding-left-8">{{ 'CONTENT_GET_HTML__LABEL__HTML' | translate }}</label>
                    <textarea style="overflow: auto;" class="font-size-80" name="html" id="html" ng-model="ctrl.html" ng-click="ctrl.select()"
                              rows="5"></textarea>
                </md-input-container>
                <div class="content-common-successfully-copied" ng-class="{'in' : ctrl.copied}">
                    {{ 'CONTENT_GET_HTML__LABEL__COPIED' | translate }}
                </div>
                <div layout="row" class="no-margin-top no-padding">
                    <md-button ngclipboard data-clipboard-target="#html" ngclipboard-success="ctrl.onCopied(e);"
                               class="md-primary">{{ 'COMMONS_COPY' | translate }}
                    </md-button>
                    <div flex="flex"></div>
                    <md-button class="md-raised md-primary" ng-click="ctrl.close()">{{ 'COMMONS_CLOSE' | translate }}</md-button>
                </div>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>
